<a href="https://colab.research.google.com/github/garfield-gray/DataMining/blob/main/Clustering_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time

#Theoretical

##Question 1

##Question 2

#Imperical

In [23]:
# Address of files
%cd /content/drive/MyDrive/Uni/Data/DataMining/Winter2024/CA#5
!ls

/content/drive/MyDrive/Uni/Data/DataMining/Winter2024/CA#5
CA5.pdf  Clustering_Methods.ipynb  data.csv

##Play with Data

In [24]:
df = pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CLIENT_ID                        8950 non-null   object
 1   ACCOUNT_BALANCE                  8950 non-null   float64
 2   BALANCE_UPDATE_FREQUENCY         8950 non-null   float64
 3   TOTAL_PURCHASES                  8950 non-null   float64
 4   SINGLE_PURCHASE_AMOUNT           8950 non-null   float64
 5   INSTALLMENT_PURCHASES_AMOUNT     8950 non-null   float64
 6   ADVANCE_CASH_AMOUNT              8950 non-null   float64
 7   PURCHASES_UPDATE_FREQUENCY       8950 non-null   float64
 8   SINGLE_PURCHASE_FREQUENCY        8950 non-null   float64
 9   INSTALLMENT_PURCHASES_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY           8950 non-null   float64
 11  CASH_ADVANCE_TRANSACTIONS        8950 non-null   int64
 12  PURCHASES_TRANSACTION_COUNT      8950 non-null   int64
 13  CREDIT_MAXIMUM                   8949 non-null   float64
 14  AMOUNT_PAID                      8950 non-null   float64
 15  MINIMUM_PAYMENT_AMOUNT           8637 non-null   float64
 16  FULL_PAYMENT_PERCENTAGE          8950 non-null   float64
 17  CREDIT_CARD_TENURE               8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [25]:
df.describe()

,ACCOUNT_BALANCE,BALANCE_UPDATE_FREQUENCY,TOTAL_PURCHASES,SINGLE_PURCHASE_AMOUNT,INSTALLMENT_PURCHASES_AMOUNT,ADVANCE_CASH_AMOUNT,PURCHASES_UPDATE_FREQUENCY,SINGLE_PURCHASE_FREQUENCY,INSTALLMENT_PURCHASES_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRANSACTIONS,PURCHASES_TRANSACTION_COUNT,CREDIT_MAXIMUM,AMOUNT_PAID,MINIMUM_PAYMENT_AMOUNT,FULL_PAYMENT_PERCENTAGE,CREDIT_CARD_TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

###A

In [26]:
#overview

df_overview = []
columns = df . columns . drop("CLIENT_ID")
for i in columns :
    types = df[i] . dtypes
    unique_data = df[i] . nunique()

    missing_count=df[i].isnull().sum()
    value_count= df[i].isnull().count()
    missing_percentage= round(missing_count/value_count*100,2)

    duplicated= df.duplicated().sum()
    df_overview . append ([i , types , unique_data , missing_count, missing_percentage,duplicated])

df_info = pd . DataFrame (df_overview)
df_info . columns =['name of column' , 'types' ,'unique_data' , 'missing value', "missing percentage","duplicated"]




df_info.style.highlight_max(color = 'green', axis = 0)

###B

###C

#D

###E

##Preprpcessing

##Clustering